.blog {
  margin-top: 4rem;
  margin-inline: auto;
  padding-inline: 1rem;
  margin-bottom: 6rem;
  max-width: 70rem;

  @include media('>phone') {
    padding-inline: 6vw;
    margin-top: 5rem;
  }
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @include media('>phone') {
    grid-template-columns: repeat(4, 1fr);
  }
  @include media('>tablet') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog__title {
  margin-block: 1rem;

  font-size: 2em;
  font-weight: 600;

  @include media('>phone') {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2.5rem;
  }
}

.blog__filter-button {
  cursor: pointer;
  display: flex;
  margin-block: 1rem;
  font-size: 1rem;
  padding: 0;
  color: inherit;
  font-weight: 600;
}

.blog__categories {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  top: 8rem;
  left: 0;
  padding: 1rem;
  padding-top: 0rem;
  gap: 0.5rem;
  transition: background-color 200ms;

  @include media('<phone') {
    background-color: var(--color-bg-main);
  }

  @include media('>phone') {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    background-color: none;
    align-items: center;
    margin-block: 2rem;
    gap: 1rem;
  }
}
.blog__category {
  width: fit-content;

  &--active > .blog__category-button {
    text-decoration: underline;
  }
}

.blog__category-button {
  font-weight: 600;
  cursor: pointer;
  color: inherit;
  padding: 0;
  font-size: 1rem;
  text-underline-offset: 2px;
  // font-weight: 600;
}
