.home {
  position: relative;
  width: 100%;
  transition: background-color 200ms;
  z-index: 2;
  transform-origin: bottom;
  background-color: var(--color-bg-main);
  will-change: color, background-color, transform;
}
