.post-details {
  grid-template-columns: 1fr;
  place-items: center;
  height: 100%;
  padding-inline: 1rem;
  margin-bottom: 6rem;
  margin-top: 4rem;
  margin-inline: auto;
  max-width: 65rem;
  gap: 2rem;

  @include media('>phone') {
    padding-inline: 2rem;
    margin-top: 5rem;
  }

  @include media('>tablet') {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

  @include media('>desktop') {
    gap: 4rem;
  }
}

.post-details__wrapper {
  @extend %center-column;

  width: 100%;
  max-width: 65rem;
  place-self: center;

  @include media('>tablet') {
    place-self: end;
  }
}

.post-details__aside {
  position: relative;
  min-height: 100%;
  width: 12rem;
  place-self: center;
  flex-shrink: 0;

  @include media('<tablet') {
    display: none;
  }
  @include media('>desktop') {
    width: 15rem;
  }
}
