.about {
  padding-bottom: 2rem;
  max-width: 100%;
  padding-inline: 6vw;
  opacity: 0;
}

.about__wrapper {
  @extend %center-column;

  position: relative;
  align-items: flex-start;
  margin-inline: auto;
  padding-top: 2rem;
  gap: 2rem;
  width: 100%;
  max-width: 60rem;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    // left: -10%;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.195);

    @include media('>tablet') {
      width: 105%;
      left: -2.5%;
    }
    @include media('>desktop') {
      width: 120%;
      left: -10%;
    }
  }

  @include media('>phone') {
    gap: 3rem;
    padding-top: 4rem;
  }
}

.about__title {
  @extend %section-title;
  color: $color-text-primary;
}

.about__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70vw;

  @include media('<phone') {
    max-width: 100%;
  }

  i {
    font-style: italic;
  }

  p {
    margin: 0;
    margin-bottom: 1rem;
  }

  p:first-child {
    font-weight: 300;
  }

  b {
    font-weight: 500;
  }
}

.skills__wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;

  @include media('<phone') {
    width: 30rem;
    align-self: center;
  }
}

.skills {
  width: 100%;
  position: relative;
  padding-inline: 2.5rem;

  @include media('<phone') {
    padding-inline: 0;
  }
}

.skills-carousel {
  overflow: hidden;
  width: 100%;
}
.skills-carousel__container {
  display: flex;
  user-select: none;
  margin-left: -10px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.skill {
  @extend %center-column;
  flex: 0 0 6rem;

  margin-right: 1rem;
  position: relative;

  gap: 0.5rem;
  padding: 0.8rem 0.6rem;
  width: 5rem;
  background-color: inherit;
  border: dotted 1px;
  border-color: inherit;

  p {
    margin-top: 0.2rem;
    font-size: 0.6rem;
    text-align: center;
    text-transform: uppercase;
  }

  i {
    font-size: 3rem;
    text-align: center;
  }
}

.skills-carousel__prev,
.skills-carousel__next {
  @extend %center;
  cursor: pointer;
  width: 2rem;
  height: 2rem;

  color: inherit;
  position: absolute;
  left: 0rem;
  top: 50%;
  z-index: 2;
  background-color: transparent;
  font-size: 1rem;
  transform: translateY(-50%);
  border-radius: 50%;
  padding-left: 0.1rem;
  // border: solid 1px;
  border: none;
  border-color: inherit;

  svg {
    width: 50%;
    height: 50%;
    color: inherit;
  }

  @include media('<phone') {
    display: none;
  }
}
.skills-carousel__next {
  right: 0rem;
  left: auto;
  padding-right: 0;
}
