.about {
  padding-top: 4rem;
  padding-bottom: 2rem;
  width: 100%;
  padding-inline: 6vw;
}

.about__wrapper {
  @extend %center-column;
  align-items: flex-start;
  margin-inline: auto;
  gap: 4rem;
  width: 100%;
  max-width: 60rem;

  @include media('<phone') {
    gap: 2rem;
  }
}

.about__title {
  @extend %section-title;
  color: $color-text-primary;
}

.about__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70vw;

  @include media('<phone') {
    max-width: 100%;
  }

  i {
    font-style: italic;
  }

  p {
    font-weight: 200;
    margin: 0;
    margin-bottom: 1rem;
    letter-spacing: 0px;
    line-height: 1.3;
  }

  p:not(:first-child) {
    font-weight: 300;
  }

  b {
    font-weight: 500;
  }
}

.skills__wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;

  @include media('<phone') {
    width: 100%;
    align-self: center;
  }
}

.skills {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.skill {
  @extend %center-column;
  gap: 0.5rem;

  position: absolute;
  padding: 0.8rem 0.6rem;
  width: 5rem;
  background-color: inherit;
  border: solid 1px;
  border-color: inherit;

  @media screen and (min-width: 1000px) {
    width: 6rem;
  }

  p {
    margin-top: 0.2rem;
    font-size: 0.6rem;
    text-align: center;
    text-transform: uppercase;
  }

  i {
    font-size: 3rem;
    text-align: center;
  }
}
