.author {
  @extend %center;

  position: relative;
  width: 100%;
  gap: 1rem;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: white;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.32));
  z-index: 2;

  @include media('>phone') {
    padding: 3rem;
    gap: 2rem;
    width: 110%;
  }
}

.author__image {
  border-radius: 50%;
}

.author__info {
  text-align: left;
}

.author__title {
  opacity: 0.5;
}

.author__name {
  margin-bottom: 1rem;
  font-weight: 700;
}

.author__bio {
}
