.author {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  filter: $drop-shadow-light;
}

.author__title {
  position: absolute;
  top: -2rem;
  left: 1rem;
  background-color: $color-accent;
  width: fit-content;
  padding: 0.5rem;
  z-index: 1;
}

.author__info {
  @extend %center;

  position: relative;
  gap: 1rem;
  padding: 1.5rem 1rem;
  text-align: center;
  background-color: white;
  z-index: 2;
  text-align: left;

  @include media('>phone') {
    padding: 2rem;
    gap: 2rem;
  }
}

.author__image {
  border-radius: 50%;
}

.author__name {
  margin-bottom: 1rem;
  font-weight: 700;
}
