.breadcrumbs {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-inline: auto;
}

.crumb {
  display: flex;
  align-items: flex-start;
}

.crumb__divider {
  margin-right: 0.5rem;
  font-size: 0.5rem;
  line-height: 2.5;
}

.crumb__last-text {
  text-transform: capitalize;
  opacity: 0.5;
}

.crumb__text {
  cursor: pointer;
  text-transform: capitalize;
  a {
    color: var(--color-text-primary);
  }
  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
