.comments-form {
  position: relative;
  width: 100%;
  padding: 1rem;
  padding-bottom: 3rem;

  @include media('>phone') {
    padding: 2rem;
  }
}

.comments-form__title {
  font-size: 1.2rem;
  font-weight: 600;
  padding-block: 1rem;
  margin-bottom: 2rem;
  z-index: 1;
  border-bottom: $color-dark-grey solid 1px;
}

.comments-form__wrapper {
  position: relative;
  z-index: 2;
}

.comments-form__comment {
  height: 3rem;
  width: 100%;
  padding: 1rem;
  min-height: 2rem;
  max-height: 5rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  border: solid 1px rgba(0, 0, 0, 0.275);
  resize: vertical;

  &::placeholder {
    font-size: 0.8rem;
    font-family: $font-primary;
  }
}

.comments-form__top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.comments-form__name,
.comments-form__email {
  height: 2rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
  border: solid 1px rgba(0, 0, 0, 0.275);

  &::placeholder {
    font-size: 0.8rem;
    font-family: $font-primary;
  }

  @include media('>phone') {
    height: 3rem;
    padding: 0.8rem;
  }
}

.comments-form__save-info {
  margin-bottom: 1rem;
}

.comments-form__checkbox {
  margin-left: 0.25rem;
}

.comments-form__checkbox-text {
  opacity: 0.7;
  cursor: pointer;
  margin-left: 0.5rem;
}
.comments-form__error {
  font-size: 0.8rem;
  color: red;
}

.comments-form__button-wrapper {
  margin-top: 1rem;
}

.comments-form__button {
  cursor: pointer;
  background-color: transparent;
  border: solid 2px $color-text-primary;
  color: $color-text-primary;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  transition: background-color 300ms ease;

  &:hover {
    background-color: $color-accent;
  }
}

.comments-form__success {
  font-weight: 600;
  margin-top: 1rem;
  color: green;
}
