.comments {
  padding-inline: 1rem;
  padding-top: 0;
  width: 100%;
  z-index: 2;

  @include media('>phone') {
    margin-bottom: 2rem;
    padding-inline: 2rem;
  }
}

.comments__title {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  border-bottom: solid 1px var(--color-text-primary);
  padding-bottom: 1rem;

  transition: border-color 500ms;
}

.comment {
  border-bottom: solid 1px var(--color-divider);
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  transition: border-color 500ms;

  &:last-of-type {
    border-bottom: none;
  }
}

.comment__name {
  width: fit-content;
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: 600;
  margin-bottom: 0.5rem;
  background-color: var(--color-bg-accent);
}
