.postcard {
  grid-column: span 3 / span 3;

  @include media('>phone') {
    grid-column: span 2 / span 2;

    &:first-of-type {
      .postcard__image {
        aspect-ratio: 29/25;
      }
    }
  }
  @include media('>tablet') {
    grid-column: span 1 / span 1;

    &:first-of-type {
      grid-column: span 2 / span 2;
      .postcard__image {
        aspect-ratio: 16/9;
      }
    }
  }
}

.postcard__image {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fdffc341;
  aspect-ratio: 16/9;
  cursor: pointer;

  img {
    transition: transform 500ms $ease-out-expo;
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}

.postcard__categories {
  display: flex;
  flex-wrap: wrap;
  color: var(--color-text-primary);
  list-style: none;
  gap: 1rem;
  margin-bottom: 1rem;
  transition: background-color 200ms, color 200ms;
}

.postcard__category {
  background-color: var(--color-bg-accent);
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  transition: background-color 200ms;
}

.postcard__title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.postcard__description {
  margin-bottom: 1rem;
  opacity: 0.8;
}

.postcard__info {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 0.8rem;
}

.postcard__author {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 2rem;
}

.postcard__author-picture {
  border-radius: 50%;
}

.postcard__author-name {
  display: inline;
  opacity: 0.8;
  margin-left: 0.5rem;
}

.postcard__date {
  opacity: 0.8;
}
