.post-detail__wrapper {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--color-text-primary);

  transition: border-color 500ms;
  img {
    position: relative;
    margin-block: 1rem;
    width: 100%;
  }

  @include media('>phone') {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    img {
      margin-block: 2rem;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 600;

    @include media('>phone') {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  p {
    margin-bottom: 1rem;

    strong {
      font-weight: 600;
    }
  }

  a {
    color: var(--color-link);

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  ul {
    margin-bottom: 2rem;
    padding-left: 2rem;
    list-style: disc;
  }

  ol {
    margin-bottom: 2rem;
    padding-left: 2rem;
    list-style: decimal;
  }

  li {
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  pre {
    margin-block: 2rem;

    ::-webkit-scrollbar {
      display: block;
      padding: 0.1rem;
      margin: 0.1rem;
    }

    ::-webkit-scrollbar-thumb {
      display: block;
      border-radius: 1rem;
      background-color: #427096;
    }

    div {
      display: block;
      overflow: auto;
      white-space: nowrap;
    }
  }

  code {
    display: block;
    overflow: auto;
    white-space: nowrap;
    font-size: 0.8rem;
    pointer-events: all;

    @include media('>phone') {
      font-size: 0.9rem;
    }
  }

  blockquote {
    position: relative;
    display: flex;
    background-color: #fdffc37b;
    font-style: italic;
    margin-block: 2rem;
    padding: 1rem;
    padding-bottom: 0;
    quotes: '\201C''\201D''\2018''\2019';

    @include media('>phone') {
      padding-left: 0;
    }
  }
  blockquote:before {
    top: -0.8rem;
    left: -1.8rem;
    position: absolute;
    color: rgba(0, 0, 0, 0.098);
    content: open-quote;
    font-family: $font-code;
    font-size: 12rem;

    @include media('>phone') {
      position: relative;
      width: fit-content;
      top: 0;
      left: 0;
      font-size: 5rem;
      width: 5rem;
      margin-right: 1rem;
      color: rgba(0, 0, 0, 0.238);
    }
  }
}

.post-detail__categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  margin-bottom: 1rem;
}

.post-detail__category {
  background-color: var(--color-bg-accent);
  padding: 0.25rem 0.5rem;
  transition: background-color 500ms;
}

.post-detail__title {
  margin-bottom: 1rem;
  font-size: 2em;
  font-weight: 600;

  @include media('>phone') {
    font-size: 2.5rem;
  }
}

.post-detail__info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.post-detail__author {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-right: 2rem;
}

.post-detail__author-picture {
  border-radius: 50%;
}

.post-detail__author-name {
  display: inline;
  opacity: 0.7;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.post-detail__date {
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0.7;
}

.post-detail__image {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  aspect-ratio: 16/9;
  background-color: #fdffc341;
}
