.projects {
  z-index: 5;
  padding-top: 4rem;
  width: 100%;
  margin: 0 auto;
  padding-inline: 6vw;
  color: inherit;
  padding-bottom: 6rem;
  transform-origin: bottom;

  @include media('<phone') {
    padding-bottom: 2rem;
  }
}

.projects__wrapper {
  @extend %center-column;

  width: 100%;
}

.projects__title {
  @extend %section-title;
}

.project {
  @extend %center;

  position: relative;
  z-index: 2;
  box-sizing: content-box;
  width: 100%;
  padding-inline: 6vw;
  padding-block: 4rem;

  &:nth-child(odd) {
    .project__description {
      align-items: flex-end;
      grid-area: 2 / 1 / 8 / 9;

      @include media('<narrow') {
        align-items: center;
      }
    }

    .project__preview {
      grid-area: 1 / 5 / 9 / 13;
      justify-self: end;
    }
  }

  @include media('<phone') {
    padding-block: 2rem;
  }
}

.project__wrapper {
  max-width: 60rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @include media('<phone') {
    display: flex;
    flex-direction: column-reverse;
  }
}

.project__preview {
  width: 100%;
  max-width: 25rem;
  grid-area: 1 / 1 / 9 / 9;
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  height: fit-content;
  position: relative;
  z-index: 1;
  overflow: hidden;
  filter: brightness(0.7);

  @include media('<phone') {
    width: 90%;
    max-width: 25rem;
    top: -3rem;
    align-self: center;
  }

  img,
  video {
    width: 100%;
    height: 100%;
  }

  img {
    position: absolute;
  }

  video {
    position: relative;
    z-index: 1;
  }
}

.project__description {
  opacity: 1;
  grid-area: 2 / 5 / 8 / 13;
  z-index: 2;
  position: relative;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 300;

  transform: translateY(30%);

  @include media('<phone') {
    transform: translateY(10%);
  }

  @include media('<narrow') {
    align-items: center;
  }

  p,
  h3 {
    margin-inline: 1rem;
  }

  h3 {
    position: relative;
    z-index: -1;
    font-family: 'Questrial';
    font-size: 1.2rem;
    color: $color-text-primary;
    background-color: $color-accent;
    padding: 0.5rem 1rem;
    top: 1.2rem;

    @include media('<narrow') {
      width: 80%;
      text-align: center;
    }
  }

  i {
    font-family: 'Space Grotesk';
    font-style: italic;
    font-size: 0.8rem;
  }
}

.project__info {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $color-off-white;
  color: $color-text-primary;
  padding: 2rem;
  margin-left: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1),
    0 16px 32px rgba(0, 0, 0, 0.1), 0 32px 64px rgba(0, 0, 0, 0.1);

  p {
    margin: 0;
  }

  @include media('<phone') {
    padding: 1.5rem;
  }
}

.project__links {
  display: flex;
  gap: 1.5rem;
  align-self: flex-end;
  margin-top: 1rem;

  @include media('<narrow') {
    justify-content: space-between;
    width: 100%;
  }
}
