%cover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%center-column {
  @extend %center;
  flex-direction: column;
}

%link-button {
  .link {
    color: inherit;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    overflow: hidden;
    height: 1.1rem;
  }

  .link__arrow {
    width: 0.8rem;
    height: 0.8rem;
    transition: transform 300ms $ease-swift;
  }

  span {
    padding-bottom: 0.1rem;
    display: block;
    transition: transform 300ms $ease-swift;
  }

  .link:after {
    content: attr(data-link-alt);
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transition: top 300ms $ease-swift, transform 300ms $ease-swift;
  }

  &:hover {
    .link span {
      transform: translateY(-100%);
    }
    .link::after {
      top: 0;
    }

    .link__arrow {
      transform: rotate(45deg);
    }
  }
}

%section-title {
  width: 100%;
  max-width: 60rem;
  display: flex;
  align-items: flex-end;
  color: inherit;
  span:first-child {
    font-size: 0.7rem;
    font-weight: 200;
    margin-right: 0.2rem;
    width: 1rem;
  }
  span:last-child {
    max-width: 80rem;
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    isolation: isolate;
  }
}

@mixin ratio($height, $width) {
  position: relative;
  overflow: hidden;
  font-size: 0;

  &:after {
    content: '';
    display: inline-block;
    padding-top: $width / $height * 100%;
    width: 100%;
  }
}
