$color-text-primary: #111111;
$color-text-secondary: #020202;

$color-off-white: #f3f5fa;
$color-dark-grey: #212021;

$color-accent: #fdffc3;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-swift: cubic-bezier(0.77, 0, 0.175, 1);

$z-indexes: ('noscript', 'preloader', 'navigation', 'content');
