$font-primary: 'Open Sans', sans-serif;
// $font-display: 'Arvo', sans-serif;
$font-display: 'Sora', sans-serif;
$font-code: 'Space Grotesk', sans-serif;
$font-display-code: 'Press Start 2P', cursive;

$color-text-dark: #2c2c2c;
$color-text-light: #ffffff;
$color-link-dark: #0000af;
$color-link-light: #a3a3ff;

$color-bg-light-main: #fff;
$color-bg-light-secondary: #242424;

$color-bg-dark-main: #242424;
$color-bg-dark-secondary: #fff;

$color-accent: #f9f366;
$color-accent-dark: #696500;

$color-divider-light: rgba(255, 255, 255, 0.457);
$color-divider-dark: #40404076;

$color-blog-highlight-light: #ffffff23;
$color-blog-highlight-dark: #40404023;

$color-project-bg-light: #fff;
$color-project-bg-dark: #151515;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-swift: cubic-bezier(0.77, 0, 0.175, 1);

$z-indexes: ('noscript', 'preloader', 'navigation', 'content');

$shadow-dark: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1),
  0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1),
  0 16px 32px rgba(0, 0, 0, 0.1), 0 32px 64px rgba(0, 0, 0, 0.1);

$shadow-light: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05),
  0 4px 8px rgba(0, 0, 0, 0.05), 0 8px 16px rgba(0, 0, 0, 0.05),
  0 16px 32px rgba(0, 0, 0, 0.05), 0 32px 64px rgba(0, 0, 0, 0.05);

$drop-shadow-light: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.056));
