:root {
  --color-text-primary: #{$color-text-dark};
  --color-text-secondary: #{$color-text-light};
  --color-link: #{$color-link-dark};

  --color-bg-main: #{$color-bg-light-main};
  --color-bg-secondary: #{$color-bg-light-secondary};
  --color-bg-accent: #{$color-accent};

  --color-divider: #{$color-divider-dark};
  --color-blog-highlight: #{$color-blog-highlight-dark};

  --color-project-bg: #{$color-project-bg-light};
}
::selection {
  background-color: rgba(0, 0, 0, 0.178);
}

.dark {
  color-scheme: dark;

  --color-text-primary: #{$color-text-light};
  --color-text-secondary: #{$color-text-dark};
  --color-link: #{$color-link-light};

  --color-bg-main: #{$color-bg-dark-main};
  --color-bg-secondary: #{$color-bg-dark-secondary};
  --color-bg-accent: #{$color-accent-dark};

  --color-divider: #{$color-divider-light};
  --color-blog-highlight: #{$color-blog-highlight-light};

  --color-project-bg: #{$color-project-bg-dark};

  ::selection {
    background-color: rgba(255, 255, 255, 0.328);
  }

  & .link__arrow {
    filter: invert(100%);
  }

  & .hero__vector {
    filter: brightness(0.3);
  }

  .blogs__cta img {
    filter: invert(0);
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: $font-primary;
  font-size: clamp(1.1rem, 1.2vw, 1.2rem);
  color: var(--color-text-primary);
  background-color: var(--color-bg-main);
  min-height: 100vh;
  scroll-behavior: initial;
  position: relative;
}

body {
  @extend %center-column;
  position: relative;
  margin: 0;
  padding: 0;
  color: inherit;
  line-height: 1.5;
  background-color: var(--color-bg-main);
  transition: background-color 500ms, color 500ms;
}

main {
  transform-origin: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-display;
  line-height: 1.2;
  letter-spacing: -1px;
}

p {
  line-height: 1.5;
  font-weight: 500;
}
li {
  font-weight: 500;
}

i {
  font-weight: 400;
}

#__next {
  color: inherit;
  width: 100%;
}

section {
  width: 100%;
  height: 100%;
  will-change: transform;
  color: inherit;
}

.animate-in {
  opacity: 0;
  max-width: 100%;
}

footer {
  @extend %center-column;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-text-primary);
  transition: color 500ms;

  a {
    margin-top: 0.3rem;
    text-decoration: underline;
  }
}
